include header.pug
doctype html
br
doctype html
head
  link(rel='stylesheet' href='./style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
.main
  .row3
    .col5
      img(src='./image/drops-floral-background-closeup-tranquil-abstract-closeup-art-photography-print-wallpaper-floral-fantasy-design-macro-photo-96994455.jpg' width='100%' height='230px')
      img(src='./image/download (3).jfif' width='17%' height='50px')
      h3#d Drops-floral
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas reprehenderit repellat perspiciatis iste, reiciendis eaque?
    .col6
      img(src='./image/pexels-pixabay-60597.jpg' width='100%' height='230px')
      img(src='./image/download (2).jfif' width='17%' height='50px')
      h3#d Flower
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam corrupti perspiciatis ducimus voluptates quo nam veniam.
    .col7
      img(src='./image/photo-1552083375-1447ce886485.jfif' width='100%' height='230px')
      img(src='./image/images (2).jfif' width='17%' height='50px')
      h3#d Nature
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid itaque ab, cum sint reprehenderit tenetur.
  hr
  .row4
    .col8
      .col11
        img#e(src='./image/images (1).jfif' width='100%' height='70px')
      .col12
        h4 Sep 12
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .col9
      .col13
        img#e(src='./image/pexels-pixabay-60597.jpg' width='100%' height='70px')
      .col14
        h4 Oct 15
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    .col10
      .col15
        img#e(src='./image/download.jfif' width='100%' height='70px')
      .col16
        h4 Nov 20
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic?
  hr
  .row5
    .col17
      h4 Featured on:
    .col18
      img(src='./image/download.png' width='100%' height='170px')
    .col19
      img(src='./image/download (1).png' width='100%' height='170px')
    .col20
      img(src='./image/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg' width='100%' height='150px')
    .col21
      img(src='./image/download (3).png' width='100%' height='170px')
    .col22
      img(src='./image/download (4).jfif' width='100%' height='150px')
