include header.pug 
doctype html
br
br
br
doctype html
head
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  link(rel='stylesheet' href='./style1.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
main.bgimage
  section.container.bg-light.text-center
    h1 Gallery
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni facere assumenda nam enim voluptas dolorum fuga deserunt, ab animi! Ratione, ullam perspiciatis. Quasi, id. Vel fugit et pariatur reiciendis sunt?
    .row
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='./image/photo.jpg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text Portfolio Text
            a.btn.btn-primary(href='#') Go somewhere
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='./image/d.jpg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text Portfolio Text
            a.btn.btn-primary(href='#') Go somewhere
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='./image/download.jpg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text Portfolio Text
            a.btn.btn-primary(href='#') Go somewhere
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='./image/download123.jpg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text Portfolio Text
            a.btn.btn-primary(href='#') Go somewhere
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='./image/pexels-pixabay-60597.jpg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text Portfolio Text
            a.btn.btn-primary(href='#') Go somewhere
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='./image/drops-floral-background-closeup-tranquil-abstract-closeup-art-photography-print-wallpaper-floral-fantasy-design-macro-photo-96994455.jpg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text Portfolio Text
            a.btn.btn-primary(href='#') Go somewhere

