include header.pug
doctype html
br
br
br
doctype html
head
link(rel='stylesheet' href='./style4.css')
div(align='center')
  br
  h1 Services
   br
   br
   h4 Digital Transformation
   br
   h4 Team Augmentation 
   br
   h4 Application Development
   br
   h4 Cloud Consulting 
   br
   h4 DevOps Consulting 
   br 
   h4 Big Data and Analytics
   br
   h4 Artificial Intelligence
   br
   h4 Quality Engineering